.stepContainer {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    min-height: 480px;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.center {
    margin: 0 auto;
}
.center>* {
    margin: 0 auto;
    width: fit-content;
}