.stepContainer {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    min-height: 480px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.center {
    margin: 0 auto;
    /* border: 1px solid red; */
}
.center>* {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: fit-content;
}