.module {
  border: 1px solid #ccc;

  border-radius: 4px;
  padding: 12px;

  margin-bottom: 24px;
  margin-top: 24px;
}

.module p {
  font-size: 18px;
  margin-bottom: 32px;
}

.module ul {
  list-style: none;
  padding: 0;

  margin: -12px;
}

.module ul li {
  padding: 12px;
  margin: 0;
  border-top: 1px solid #ccc;
  /* background-color: #ccc; */
}
